/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: hm {
            compatible = "zmk,behavior-hold-tap";
            label = "HM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41>;
            flavor = "tap-preferred";
        };
    };

    macros {
        ws1: ws1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(NUMBER_1)>, <&macro_press>;

            label = "WS1";
            tap-ms = <0>;
        };

        ws2: ws2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(NUMBER_2)>, <&macro_press>;

            label = "WS2";
        };

        ws3: ws3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(NUMBER_3)>, <&macro_press>;

            label = "WS3";
        };

        ws4: ws4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(NUMBER_4)>, <&macro_press>;

            label = "WS4";
        };

        ws5: ws5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(N5)>, <&macro_press>;

            label = "WS5";
        };

        ws7: ws7 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(N7)>, <&macro_press>;

            label = "WS7";
        };

        ws8: ws8 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(N8)>, <&macro_press>;

            label = "WS8";
        };

        ws9: ws9 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(N9)>, <&macro_press>;

            label = "WS9";
        };

        ws10: ws10 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(N0)>, <&macro_press>;

            label = "WS10";
        };

        alfred: alfred {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(SPACE)>, <&macro_press>;

            label = "ALFRED";
        };

        ws6: ws6 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(NUMBER_6)>, <&macro_press>;

            label = "WS6";
        };

        parenthesis: parenthesis {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS>;
            label = "PARENTHESIS";
        };

        equals: equals {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp EQUAL>;
            label = "EQUALS";
        };

        not_equal: not_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EXCLAMATION &kp EQUAL>;
            label = "NOT_EQUAL";
        };

        less: less {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LESS_THAN &kp EQUAL>;
            label = "LESS";
        };

        greater: greater {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GREATER_THAN &kp EQUAL>;
            label = "GREATER";
        };

        bracket: bracket {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET>;
            label = "BRACKET";
        };

        brace: brace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE &kp RIGHT_BRACE>;
            label = "BRACE";
        };

        zoomin: zoomin {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RG(PLUS)>;
            label = "ZOOMIN";
        };

        zoomout: zoomout {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RG(MINUS)>;
            label = "ZOOMOUT";
        };
    };

    combos {
        compatible = "zmk,combos";

        parenthesis {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <6 7>;
            layers = <0>;
        };

        brackets {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <18 19>;
        };

        braces {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <30 31>;
        };

        rparen {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <7 8>;
        };

        rbrack {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <19 20>;
        };

        rbrace {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <31 32>;
        };

        underscore {
            bindings = <&kp UNDERSCORE>;
            key-positions = <16 17>;
        };

        ocpar {
            bindings = <&parenthesis>;
            key-positions = <6 7 8>;
        };

        ocbra {
            bindings = <&bracket>;
            key-positions = <18 19 20>;
        };

        ocbraces {
            bindings = <&brace>;
            key-positions = <32 31 30>;
        };

        excl {
            bindings = <&kp HASH>;
            key-positions = <28 29>;
        };

        atsign {
            bindings = <&kp AT_SIGN>;
            key-positions = <28 27>;
        };

        pound {
            bindings = <&kp EXCLAMATION>;
            key-positions = <26 27>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q             &kp W        &kp E       &kp R           &kp T        &kp Y          &kp U            &kp I           &kp O             &kp P            &kp BSPC
&kp LCTRL  &kp A             &kp S        &kp D       &kp F           &kp G        &kp H          &kp J            &kp K           &kp L             &kp SEMI         &kp SQT
&kp LSHFT  &hm LEFT_SHIFT Z  &hm LCTRL X  &hm LALT C  &hm LEFT_GUI V  &kp B        &kp N          &hm RIGHT_GUI M  &hm RALT COMMA  &hm RCTRL PERIOD  &hm RSHFT SLASH  &kp ESC
                                          &mo 2       &kp ESCAPE      &kp SPACE    &kp BACKSPACE  &kp ENTER        &mo 1
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB     &kp GRAVE             &kp N7              &kp N8             &kp N9                 &kp SQT              &kp TILDE    &kp ASTERISK  &kp PLUS   &kp MINUS  &kp CARET      &kp BSPC
&bt BT_CLR  &kp TAB               &kp N4              &kp N5             &kp N6                 &kp N0               &equals      &not_equal    &kp EQUAL  &kp SLASH  &kp BACKSLASH  &trans
&kp LSHFT   &hm LEFT_SHIFT GRAVE  &hm LCTRL NUMBER_1  &hm LALT NUMBER_2  &hm LEFT_GUI NUMBER_3  &kp DOUBLE_QUOTES    &kp PERCENT  &kp AMPS      &less      &greater   &trans         &trans
                                                      &trans             &trans                 &trans               &trans       &trans        &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &trans  &kp F7  &kp F8  &kp F9  &kp F10    &trans    &caps_word            &zoomin               &zoomout   &kp C_VOLUME_UP    &kp BSPC
&kp LCTRL  &trans  &kp F4  &kp F5  &kp F6  &kp F11    &kp LEFT  &kp DOWN              &kp UP_ARROW          &kp RIGHT  &kp C_VOLUME_DOWN  &kp GRAVE
&kp LSHFT  &trans  &kp F1  &kp F2  &kp F3  &kp F12    &trans    &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &trans     &kp C_MUTE         &kp TILDE
                           &trans  &trans  &trans     &trans    &trans                &trans
            >;
        };

        layer_3 {
            bindings = <
&caps_word  &trans  &ws7  &ws8    &ws9    &trans     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR  &trans
&trans      &trans  &ws4  &ws5    &ws6    &ws10      &trans        &kp C_PREV    &kp C_PAUSE   &kp C_NEXT    &trans      &trans
&trans      &trans  &ws1  &ws2    &ws3    &alfred    &trans        &trans        &trans        &trans        &trans      &trans
                          &trans  &trans  &trans     &trans        &trans        &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        layer3 {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
